{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<!DOCTYPE html>
<html>
<head>
	<title>Welcome to my page!</title>
	<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>CSS MenuMaker</title>
</head>
<body>
	<!-- HEADER -->
	
	<div id='cssmenu'>
<ul>
   <li><a href='#'><span>Home</span></a></li>
   <li><a href='#'><span>About Us</span></a></li>
   <li><a href='#'><span>Scholarships</span></a></li>
   <li><a href='#'><span>Our Professors</span></a></li>
   <li><a href='#'><span>Apply</span></a></li>
</ul>
</div>

	<!-- FOOTER -->
	<div id="footer"><br>
		<h2>Welcome to Oxford University</h2><br><br><br><br>
		<iframe width="760" height="515" src="//www.youtube.com/embed/9mguykANijg" frameborder="0" allowfullscreen></iframe>
	</div>
	

</body>
</html>